div.columnHeader ul
{
    /* Positioning */
    width: 100%;
    text-align: left;
}

div.columnHeader li
{
    /* Positioning */
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.row {
  /* flexbox setup */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

.row > div {
	padding: 5px;
}

.column {
  /* flexbox setup */
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.column > div {
	padding: 5px;
}

body{
  margin: 5px;
}

.list-group-item{
  cursor: move;
}

.addItemLink {
  cursor: pointer;
}
